@model Category
@{
    ViewData["Title"] = "Create";
}
@section scripts
{
<partial name= "_ValidationScriptsPartial" />
}

<h1>Create Category</h1>
<div asp-validation-summary = "All"></div>
<form method="post" class='w-50 p-5'>
    <label asp-for= "category_name"></label>
    <input asp-for="category_name" class='form-control'/>
    <span asp-validation-for = 'category_name' class='text-danger form-control border-0'></span>
    <button class="btn btn-primary">Add Category</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Category">Go Back</a> 
</form>