@model Category
@{
    ViewData["Title"] = "Update";
}

<h1>Update Category</h1>
<form method='POST' asp-action= 'Update'>
    <input asp-for = 'category_id' hidden />
<label asp-for = 'category_name'></label>
<input asp-for = 'category_name' />
<label asp-for = 'createdAt'></label>
<input asp-for = 'createdAt' />

<div class= 'btn-group'>
    <button class = 'btn btn-primary'>Update</button>
    <a asp-controller='Category' asp-action='Index' class = 'btn btn-secondary'>Go Back</a>
</div>
</form>